<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
												<div th:fragment="formulario">
													<input type="hidden" th:field="*{id}">
													<div class="row">
														<div class="col-md-4">
															<div class="mb-3">
																<label for="nome" class="form-label">Nome</label> 
																<input type="text" th:field="*{nome}" th:errorClass="is-invalid" class="form-control">
																<div class="invalid-feedback">
																	<span th:errors="*{nome}"></span>
																</div>
															</div>
														</div>
														<div class="col-md-8">
															<div class="mb-3">
																<label for="descricao" class="form-label">Descrição</label> 
																<input type="text" th:field="*{descricao}" th:errorClass="is-invalid" class="form-control">
																<div class="invalid-feedback">
																	<span th:errors="*{descricao}"></span>
																</div>
															</div>
														</div>
													</div>
													
													<div>
														<button type="submit" class="btn btn-primary w-md"><i class="fa fa-save me-1"></i> Salvar</button>
														<a href="javascript:history.back(-1)" class="btn btn-secondary"><i class="fa fa-arrow-left me-1"></i> Voltar</a>
													</div>
												</div>

												
</body>
</html>
